---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';

const posts = await getCollection('blog').then((collection: any[]) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description='Groot DevLog | Blog posts'
  pageTitle='Groot DevLog'
>
  <main class='bg-fffdf7 p-6'>
    <BlogList posts={posts} />
  </main>
</Layout>
